/*
David Gall
04/15/2015
DPW
Simple Form CSS
*/

body {
    background: aqua;
}

#form_container {
    width: 400px;
    margin: 40px auto;
    overflow: hidden;
}

.discount {
    display: inline;
}

#yes {
    margin-right: 20px;
}

label, select, #button {
    display: block;
}
#button {
    background-color: lime;
    float: right;
    margin: 40px 10px 20px 0;
    border-radius: 5px;
}
#button:hover {
    background-color: blue;
    color: #ffffff;
}
input {
    margin-bottom: 20px;
}